 /*
.marginProfil{

   margin-top: 12%;
}
*/

.textProfil{

    font-size: 2rem;
}

.lessMl{
    margin-left: -3%;
}
.pb-10{
    padding-bottom: 18.3%;
    padding-top: 3%;
}

.py-10{
    padding-top: 14.5%;
    padding-bottom: 15%;
}
.size-2{
    font-size: 1.5rem;
    margin-top: -10%;
}